[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

  .login-form {
    max-width: 300px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }


  .button-group {
    display: flex;
    justify-content: flex-start;
    justify-self: flex-start;

    .btn-add {
      flex:1;
    }
    .btn-upload {
      flex: 1;
    }
    .btn-download {
      flex:1;
    }
  }