
.button-group {
    display: flex;
    justify-content: flex-start;
    justify-self: flex-start;

    .btn-add {
      margin-left: 20px;
      flex:1;
    }
    .btn-upload {
      margin-left: 20px;
      flex: 1;
    }
    .btn-download {
      margin-left: 20px;
      flex:1;
    }
  }