<button nz-button nzType="default" (click)="addStudent()">添加</button>
<button nz-button nzType="default">批量添加</button>
<button
  nz-button
  nzType="primary"
  [nzSize]="size"
  nzShape="round"
  (click)="download()"
>
  <i nz-icon type="download"></i>下载模板
</button>
<nz-divider nzText="详细信息" nzOrientation="left"></nz-divider>

<!-- 学生信息表格 -->
<nz-table #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>序号</th>
    <th>姓名</th>
    <th>学号</th>
    <th>班级</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of basicTable.data;let i=index">
    <td>{{ i + 1 }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.age }}</td>
    <td>{{ item.address }}</td>
    <td>
      <a>详细信息 一 {{ item.key }}</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>禁用</a>
    </td>
  </tr>
  </tbody>
</nz-table>

<!-- 单个学生添加 模态框 -->
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Modal Title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="studentNum"
      >学号
      </nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="studentNum" id="studentNum"/>
        <nz-form-explain
          *ngIf="
            validateForm.get('studentNum')?.dirty &&
            validateForm.get('studentNum')?.errors
          "
        >
          学号必须填写
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="studentName" nzRequired
      >姓名
      </nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input id="studentName" formControlName="studentName"/>
        <nz-form-explain
          *ngIf="
            validateForm.get('studentName')?.dirty &&
            validateForm.get('studentName')?.errors
          "
        >请输入姓名!
        </nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
        <span>
          班级
        </span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select
          style="width: 100%;"
          nzShowSearch="true"
          nzPlaceHolder="选择班级"
          [(ngModel)]="listOfTagOptions"
          formControlName="classId"
        >
          <nz-option
            *ngFor="let option of listOfOption"
            [nzLabel]="option.label"
            [nzValue]="option.value"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
