<button nz-button nzType="default" (click)="addCollege()">添加</button>
<button nz-button nzType="default">批量添加</button>
<button
  nz-button
  nzType="primary"
  [nzSize]="size"
  nzShape="round"
  (click)="download()"
>
  <i nz-icon type="download"></i>下载模板
</button>
<nz-divider nzText="详细信息" nzOrientation="left"></nz-divider>

<!-- 信息展示表格 -->
<nz-table #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>序号</th>
    <th>专业名称</th>
    <th>学院</th>
    <th>专业介绍</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of basicTable.data;let i=index">
    <td>{{ i + 1 }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.age }}</td>
    <td>{{ item.address }}</td>
    <td>
      <a>修改</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>

<!-- 单个专业添加 模态框 -->
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Modal Title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="majorName">
        专业名称
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="majorName" id="majorName"/>
        <nz-form-explain
          *ngIf="
            validateForm.get('majorName')?.dirty &&
            validateForm.get('majorName')?.errors
          ">
          专业必须填写
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="collegeName" nzRequired
      >学院
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input id="collegeName" formControlName="collegeName"/>
        <nz-form-explain
          *ngIf="
            validateForm.get('collegeName')?.dirty &&
            validateForm.get('collegeName')?.errors
          ">
          学院必须填写
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="collegeDescription" nzRequired>
        <span>
          专业介绍
        </span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea id="collegeDescription" formControlName="collegeDescription"
          nz-input
          placeholder="专业介绍"
          [(ngModel)]="value"
          [nzAutosize]="{ minRows: 2, maxRows: 6 }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
