[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
td {
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
}
