<button nz-button nzType="default" (click)="addCollegeTarget()">添加</button>

<nz-divider nzText="详细信息" nzOrientation="left"></nz-divider>

<!-- 信息展示表格 -->
<nz-table #basicTable [nzData]="listOfData">
  <thead>
  <tr>
    <th>序号</th>
    <th>专业目标名称</th>
    <th>学院</th>
    <th>专业介绍</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of basicTable.data;let i=index">
    <td>{{ i + 1 }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.major }}</td>
    <td><span nz-tooltip nzTitle="{{ item.summary }}">{{ item.summary }}</span></td>
    <td>
      <a (click)="beforeModify(item.id,item.major,item.name,item.summary)">修改</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>

<!-- 单个专业添加 模态框 -->
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="添加专业"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="majorName">
        专业名称
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="majorName" id="majorName"/>
        <nz-form-explain
          *ngIf="
            validateForm.get('majorName')?.dirty &&
            validateForm.get('majorName')?.errors
          ">
          专业必须填写
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="collegeName" nzRequired
      >学院
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input id="collegeName" formControlName="collegeName"/>
        <nz-form-explain
          *ngIf="
            validateForm.get('collegeName')?.dirty &&
            validateForm.get('collegeName')?.errors
          ">
          学院必须填写
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="collegeDescription" nzRequired>
        <span>
          专业介绍
        </span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea id="collegeDescription" formControlName="collegeDescription"
                  nz-input
                  placeholder="专业介绍"
                  [(ngModel)]="value"
                  [nzAutosize]="{ minRows: 2, maxRows: 6 }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

<!-- 修改专业 模态框 -->
<nz-modal
  [(nzVisible)]="misVisible"
  nzTitle="修改专业"
  (nzOnCancel)="mhandleCancel()"
  (nzOnOk)="mhandleOk()"
  [nzOkLoading]="misOkLoading">
  <form nz-form [formGroup]="mvalidateForm">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="mmajorName">
        专业名称
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="mmajorName" id="mmajorName" value="{{mmajor}}"/>
        <nz-form-explain
          *ngIf="
            mvalidateForm.get('mmajorName')?.dirty &&
            mvalidateForm.get('mmajorName')?.errors
          ">
          专业必须填写
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mcollegeName" nzRequired
      >学院
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input id="mcollegeName" formControlName="mcollegeName" value="{{mname}}"/>
        <nz-form-explain
          *ngIf="
            mvalidateForm.get('mcollegeName')?.dirty &&
            mvalidateForm.get('mcollegeName')?.errors
          ">
          学院必须填写
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mcollegeDescription" nzRequired>
        <span>
          专业介绍
        </span>
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <textarea id="mcollegeDescription" formControlName="mcollegeDescription"
                  nz-input
                  placeholder="专业介绍"
                  [(ngModel)]="mvalue"
                  [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                  value="{{msummary}}"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
